body {
    font-family: "Public Sans", sans-serif;
    margin: 0;
}

.navbar-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.nav-links a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(177, 177, 177);
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}

.nav-links>a:hover {
    color: black;
    cursor: pointer;
    border-bottom: 5px solid hsl(136, 64%, 51%);
    transition: border-bottom 0.3s ease;
}

.digitalbank-logo {
    margin-left: 80px;
}

.req-invite-btn {
    margin-right: 80px;
}

.req-invite-btn>button {
    border-radius: 20px;
    padding: 8px;
    width: 130px;
    border: 1px solid white;
    color: white;
    background-color: hsl(136, 64%, 51%);
    cursor: pointer;
}

.req-invite-btn>button:hover {
    background-color: hsl(136, 100%, 21%);
}

.next-gen-container {
    background-color: hsl(0deg 0% 98.04%);
    display: flex;
    flex-direction: row;
}

.next-gen-heading {
    margin: 140px 100px;
}

.next-gen-heading>h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding: 5px;
}

.next-gen-heading>p {
    padding: 8px;
    color: rgb(177, 177, 177);
    font-size: 14px;
    font-weight: 400;
}

.next-gen-bg-1>img {
    height: 100%;
    width: 100%;
}

.img-container {
    flex: 1;
    /* background: blue; */
    position: relative;
    width: 100%;
    height: 600px;
    overflow: visible;
}

.next-gen-bg-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mobile-img {
    position: absolute;
    right: 0;
    top: -48px;
    width: 90%;
    /* z-index: -1; */
}

.mobile-img>img {
    height: auto;
    width: 100%;
    object-fit: cover;

}

.digital-container {
    background-color: rgb(244 245 247);
    padding: 100px;
}

.why-digital>h2 {
    font-size: 35px;
    font-weight: 400;
}

.why-digital p {
    color: rgb(177, 177, 177);
    margin: 0;
    font-size: 13px;
}

.logo-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 6%;
}

.logo-container h4 {
    font-weight: 400;
}

.logo-container p {
    color: rgb(177, 177, 177);
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

.latest-article-container {
    background-color: hsl(0deg 0% 98.04%);
}

.latest-article-container>h1 {
    font-weight: 400;
    padding: 4%;
    margin: 0px 40px;
}

.parent-card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 94px;
    /* background: white; */
}

.card-container {
    width: 79%;
    background-color: rgb(255, 255, 255);
}

.card-container img {
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.inner-content {
    padding: 10px;
}

.inner-content>span {
    font-size: 10px;
    color: #969696;
}


.inner-content h6 {
    margin: 14px 0px;
    font-size: 16px;
    font-weight: 400;
}

.inner-content p {
    font-size: 13px;
    font-weight: 500;
    color: #969696;
}

.footer-container {
    background-color: hsl(232.73deg 26.83% 24.12%);
    padding: 30px;
}

.social-links {
    margin-left: 76px;
    padding-top: 15px;
}

.digi-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav-footer>a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(177, 177, 177);
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}

.nav-footer>a:hover {
    color: black;
    cursor: pointer;
    border-bottom: 5px solid hsl(136, 64%, 51%);
    transition: border-bottom 0.3s ease;
}

.footer-btn {
    margin: 0;
    display: flex;
    justify-content: end;
    border: none;
}