/* a {
    background-color: blue;
    text-align: center;
    padding: 20px;
}

div a{
    margin: 30px;
    padding: 100px;
} */

table,
th,
td {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

th,
td {
    background-color: rgb(211, 164, 255);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}